# Authentication
NUXT_AUTH_SECRET=your-super-secret-key-here
NUXT_AUTH_URL=http://localhost:3001/api/auth

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# MongoDB
MONGODB_URI=mongodb://localhost:27017/quick-recipes

# App
AUTH_ORIGIN=http://localhost:3001
JWT_SECRET = your-jwt-secret-key-here

# Firebase Admin (for Google Sign-In token verification)
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"